# Datasets 
**/dataset/
dataset/
**/datasets/
datasets/
**/spectrograms/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
env/
venv/

# macOS
.DS_Store

# VSCode
.vscode/